.features {
    h2 {
      font-size: 50px !important;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
  
    .container-fluid {
      padding: 0 225px !important;
    }
  }
  
  #hanging-icons {
    position: relative;
    top: 100px;
  }
  
  .features-icons {
    img {
      margin-right: 25px;
    }
  }
  
  .rp-flex {
    display: flex !important;
  }
  .g-max {
    padding-top: 65px !important;
  }
  