#numbers {
    position: relative;
    top: 93px !important;
    padding-bottom: 63px;
  }
  
  .milestones {
    .container-fluid {
      padding: 0 485px;
    }
    h1 {
      font-size: 28px;
    }
    p {
      font-weight: lighter;
      font-size: 12px;
      padding-top: 4px;
      line-height: 170%;
    }
  }
  