

  /*Colors*/ 

  $color-dark: #15171F;
  $color-orange: #FF7300;
  $color-white: #ffffff;
  $color-light:#A8ABB2;
  
  body {
    color:  $color-white;
    background-color: $color-dark;
  }
  




